div[id="calc-container"] {
    background-color: white;
    border: black 1px solid;
    width: 270px;
    height: auto;
    margin: 20px;
    padding: 30px;

}
div[id="fields"]{
    margin: 0px;
}

body {
    background-color: black;
    background-image: url("aukio.jpg");
}
